[Unit]
Description=feechain validator node service
After=network.target

[Service]
Type=simple
Restart=on-failure
RestartSec=1
User=feechain
Group=feechain
WorkingDirectory=~
ExecStart=/usr/sbin/feechain -c /etc/feechain/feechain.conf
StandardError=syslog
SyslogIdentifier=feechain
StartLimitInterval=0
LimitNOFILE=65536
LimitNPROC=65536

[Install]
WantedBy=multi-user.target
