{{VER=2.0.0}}
Package: feechain
Version: {{ VER }}
License: MIT
Vendor: Feechain blockchain
Architecture: amd64
Source: https://github.com/Timestopeofficial/feechain
Maintainer: ""
Section: net
Priority: extra
Homepage: ""
Description: Feechain is a sharded, fast finality, low fee, PoS public blockchain. This package contains the validator node program for feechain blockchain.
Build-Dep: dh-systemd
Recommends: jq, rclone (>= 1.52.3)
